/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.word-break {
  word-break: break-all;
}

div.Flex-Center {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

div.Flex-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

div.Flex-space-between {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
}

div.Flex-Column {
  display: flex;
  flex-direction: column;
}

/* Fill all available space in the container */
div.inFlex-FillSpace {
  flex: 1;
  overflow: auto;
}

/* Align to the bottom in the container*/
div.inFlex-flex-end {
  align-self: flex-end;
}

/* Color */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

/* Light theme */
.light-theme {
  --background-color: #e0e0e0;
  --text-color: #191919;
  --link-color: #0077cc;
  --border-color: rgba(0, 0, 0, 0.2);
}

/* Dark theme */
.dark-theme {
  --background-color: #191919;
  --text-color: #d4d4d4;
  --link-color: #9b9b9b;
  --border-color: rgba(255, 255, 255, 0.5);
}