/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

div.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

div.flex-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

div.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

div.flex-column {
  display: flex;
  flex-direction: column;
}

div.inflex-fill {
  flex: 1;
  overflow: auto;
}

div.inflex-end {
  align-self: flex-end;
}

/* Color */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

/* Light theme */
.light-theme {
  --background-color: #e0e0e0;
  --text-color: #191919;
  --link-color: #0077cc;
}

/* Dark theme */
.dark-theme {
  --background-color: #191919;
  --text-color: #d4d4d4;
  --link-color: #9b9b9b;
}