llm_bridge==1.7.20 # llm_bridge

# FastAPI and related libraries
fastapi==0.116.1 # fastapi
starlette==0.47.2 # starlette
uvicorn==0.34.0
pydantic==2.10.6 # pydantic

# Environment variables
python-dotenv==1.0.1 # dotenv

# JWT and cryptography
python-jose[cryptography]==3.4.0 # jose

# Testing
pytest==8.3.5 # pytest
pytest-asyncio==0.25.3
protobuf==6.31.1
