llm_bridge==0.2.2

# FastAPI and related libraries
fastapi # fastapi
pydantic # pydantic
uvicorn

# SQL
asyncmy
sqlmodel # sqlmodel
SQLAlchemy # sqlalchemy

# HTTP client
httpx # httpx

# Environment variables
python-dotenv # dotenv

# JWT and cryptography
python-jose[cryptography] # jose

# Tokenization for OpenAI
tiktoken # tiktoken

# Testing
pytest # pytest
pytest-asyncio
protobuf
