# FastAPI and related libraries
fastapi # fastapi
starlette # starlette
pydantic # pydantic
sqlmodel # sqlmodel
asyncmy
uvicorn

# HTTP client
httpx # httpx

# Environment variables
python-dotenv # dotenv

# JWT and cryptography
python-jose[cryptography] # jose

# SDK
openai # openai
google-generativeai # google.generativeai
anthropic # anthropic

# Tokenization for OpenAI
tiktoken # tiktoken

# File processing
pillow # PIL
PyMuPDF # fitz
python-docx # docx
openpyxl # openpyxl
python-pptx # pptx
SQLAlchemy # sqlalchemy

# Testing
pytest # pytest
pytest-asyncio
