html {
    scroll-behavior: smooth;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'menu main main main main main';
    grid-gap: 4px;
}

.grid-container div {
    text-align: center;
}

.item1 {
    font-size: 30px;
}

#Row div {
    width: 33%;
}

.item2 {
    font-size: 30px;
}

.item2 div {
    margin: 8px;
}

.item3 div {
    font-size: 20px;
    margin: 8px;
}

body {
    margin: 4px;
}

.FlexCenter {
    display: flex;
    justify-content: center;
}

.align-right {
    text-align: right;
}


/* Default display */
#Column1 {
    display: block;
}

.item2>div {
    display: none;
}

#Main1-1 {
    display: block;
}

.item3>div {
    display: none;
}

/* Default display */


/* Color */
.grid-container div {
    background-color: #191919;
}

body {
    background-color: grey;
    color: #d4d4d4;
}

.hovermenu div:hover {
    background-color: #4d4d4d;
}

/* Color */

.TimeScript {
    text-align: right;
}