apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
stringData:
  # FrontEnd credentials
  FRONTEND_URL: "https://www.windsnow1025.com"

  # PostgreSQL credentials
  POSTGRES_USER: "POSTGRES_USER"
  POSTGRES_PASSWORD: "POSTGRES_PASSWORD"
  POSTGRES_DB: "POSTGRES_DB"

  # MinIO credentials
  MINIO_ACCESS_KEY: "MINIO_ACCESS_KEY"
  MINIO_SECRET_KEY: "MINIO_SECRET_KEY"
  MINIO_BUCKET_NAME: "MINIO_BUCKET_NAME"
  MINIO_WEB_URL: "MINIO_WEB_URL"

  # Redis credentials
  REDIS_PASSWORD: "REDIS_PASSWORD"

  # NestJS-specific secrets
  JWT_SECRET: "JWT_SECRET"
  FIREBASE_CONFIG: |
    {
      "apiKey": "apiKey",
      "authDomain": "authDomain",
      "projectId": "projectId",
      "storageBucket": "storageBucket",
      "messagingSenderId": "messagingSenderId",
      "appId": "appId",
      "measurementId": "measurementId"
    }
  SERVICE_ACCOUNT_KEY: |
    {
      "type": "type",
      "project_id": "project_id",
      "private_key_id": "private_key_id",
      "private_key": "private_key",
      "client_email": "client_email",
      "client_id": "client_id",
      "auth_uri": "auth_uri",
      "token_uri": "token_uri",
      "auth_provider_x509_cert_url": "auth_provider_x509_cert_url",
      "client_x509_cert_url": "client_x509_cert_url",
      "universe_domain": "universe_domain"
    }
  CREEM_TEST_MODE: "false"
  CREEM_API_KEY: "creem_xxxxxx"
  CREEM_WEBHOOK_SECRET: "whsec_xxxxxx"
  CREEM_PRODUCTS: |
    {
      "productId1": 5,
      "productId2": 20
    }

  # FastAPI-specific secrets
  OPENAI_API_KEY: "OPENAI_API_KEY"
  GOOGLE_AI_STUDIO_FREE_TIER_API_KEY: "GOOGLE_AI_STUDIO_FREE_TIER_API_KEY"
  GOOGLE_AI_STUDIO_API_KEY: "GOOGLE_AI_STUDIO_API_KEY"
  VERTEX_AI_API_KEY: "VERTEX_AI_API_KEY"
  ANTHROPIC_API_KEY: "ANTHROPIC_API_KEY"
  AZURE_API_KEY: "AZURE_API_KEY"
  AZURE_API_BASE: "AZURE_API_BASE"
  GITHUB_API_KEY: "GITHUB_API_KEY"
  XAI_API_KEY: "XAI_API_KEY"
