# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Nest test

permissions:
  contents: read

on:
  push:
    branches: [ "main", "test" ]
    paths:
      - 'nest/**'
      - '.github/workflows/nest-node-test.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'nest/**'
      - '.github/workflows/nest-node-test.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: nest/package.json
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
          cache-dependency-path: ./nest/pnpm-lock.yaml
      - run: pnpm install --frozen-lockfile
        working-directory: ./nest
      - run: pnpm run build
        working-directory: ./nest
      - run: pnpm test
        working-directory: ./nest
