# https://github.com/marketplace/actions/build-and-push-docker-images

name: Next publish

permissions:
  contents: read

on:
  push:
    branches:
      - "main"
      - "test"
    paths:
      - 'next/**'
      - '.github/workflows/next-docker-publish.yml'

jobs:
  build-next:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./next
          file: ./next/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/next:${{ github.ref == 'refs/heads/test' && 'test' || 'latest' }}
